/* Logos */

.dixit-logo {
  background-image: url("http://dixit.com.py/images/dixit.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  opacity: 0.7;
}