/* Secciones */

section {
  padding: 40px 0;
  h3 {
    margin: 40px 0 30px;
    i {
      margin-bottom: 5px;
    }
  }
}

.lista {
  margin-top: 0;
  margin-bottom: 0;
  li {
    margin-bottom: 20px;

    i{
      margin-right: 10px;
    }
  }
}

#cargando {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}